*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

input{
    margin-bottom: 10px;
}
.top{
    display: flex;
    align-items: center;
}
.img{
    width: 40px;
    margin-left: 40px;
}
.box-flex{
    display: flex;
    align-items: center;
}
.delete-btn{
    background-color:rgb(127, 140, 255);
    width: auto;
    height: auto;
    border: none;
    text-align: center;
    margin-top: 10px;
    padding: 3px 10px;
    color: whitesmoke;
    width: 80px;
    height: 30px;
    
}
.list{
    border:  2px solid grey;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;

}
.btn-active{
    display: none;
}
.main-flex{
    background-color: aqua;
    padding: 20px;
    width: 450px;
    height: 500px;
    border-radius: 5px;
}
body{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    position: relative;
    left: 550px;
}
input{
    padding: 4px;
    color: whitesmoke;
    color: darkslategrey;
    border: none;
    border-radius: 5px;
}
.btn{
    padding: 3px;
    width: 150px;
    height: 50px;
    border: none;
    color: whitesmoke;
    background-color: blueviolet;
    font-size: 22px;
    font-weight: 22px;
    border-radius: 10px;
}
.input-name, .input-surname, .input-tel, .input-age, .input-text{
    width: 250px;
    height: 50px;
}
.input::placeholder{
    opacity: 0.3;
}